@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-hex: #010129;
  --bg-darke: #030317;
  --pokemon-red: #CD2D35;
  --next-cyan: #47D0B5;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: #010129;
    --background-start-rgb: #010129;
    --background-end-rgb: #010129;
  }
}

body {
  color: white;
  background: var(--foreground-hex);
}
