@tailwind base;
@tailwind components;
@tailwind utilities;
body {
    color: white;
}

span{
    padding: 0;
}

.basicBadge { 
    border-radius: 0.7rem 0.3rem;
    border: 2px solid rgba(67, 67, 67, 0.83);
    background: linear-gradient(180deg, #FFF 0%, #999 13.02%, #FFF 21.35%, #999 33.33%, #6A6A6A 81.77%, #959595 100%);
    padding-top: 0;
    padding-bottom: 0;
}

.text-stroke-3 {
    text-shadow: -0.8px -0.8px 0 white, 0.8px -0.8px 0 white, -0.8px 0.8px 0 white, 0.8px 0.8px 0 white;
    @apply text-[#575757];
}

.text-stroke-3-white {
    text-shadow: -1.2px -1.2px 0 #727272, 1.2px -1.2px 0 #727272, -1.2px 1.2px 0 #727272, 1.2px 1.2px 0 #727272;
    @apply text-white-pkn;
}